
<br>
<div class="row featurette py-5">
  <div class="col-md-4 mx-5 ">
    <h3 class="featurette-heading font-oswald" style="color:#1c4899; font-size: 50px;">Face Style</h3>
    <br>
    <p class="lead font-roboto" style="font-size:25px"><span style="color:#1c4899; font-style: italic;"> </span> 
    Có những kiểu tóc chỉ phù hợp với một số gương mặt, vậy nên có khi bạn đang có kiểu tóc dìm mất vẻ đẹp của mình mà không biết. Hãy thử tìm hiểu xem !<br>

    <button type="button" class="btn btn-success">
      <a href="{{url_for('detail')}}" class="text-white ">Detail</a>
    </button>
  </div>

  <div class="col-md-6">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/YOrIZowHR5I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>
</div>

