.title {
    font-size: 5rem;
    color: rgb(218, 127, 42);
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.left {
    float: left;
    margin: 10px;
}
.clear {
    clear: both;
}

#button {
    color: brown;
    margin: 0 auto;
}