<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body style= "background-color: rgb(224, 190, 190)">
    <div  >
        <form action=""method="POST" style="display :d-plex; justify-content: center">
        <div>
            <label for="">Name</label>
            <input type="text" name="name" required>
        </div>
        <h2>How would you rate the support you received:</h2> 
        <label class="radio-inline " style=" background:greenyellow; margin-right: 10px;">
            <input type="radio"  name="stt" checked><i class="far fa-thumbs-up" >
            </i> Good, I'm satisfied
        </label>
        <label class="radio-inline" style=" background-color: darksalmon">
            <input type="radio"  name="stt"><i class="far fa-thumbs-down"></i> Bad, I'm satisfied
        </label>      
        <h2>Add a comment about the quality of support you received:</h2>
        <input style="height:100px;width:450px" type="text", name="content" required> 
        <br> 
        <input type="submit">   
    </form> 
    </div>
</body>
</html>